extends layout

block content
    div(class="iteminsertbox")
        h1 관리자 페이지
        div(class="li")
            a(href='/registration/itemselect') 상품 조회
        div(class="li")
            a(href='/registration/iteminsert') 상품 등록
        div(class="li")
            a(href='/auth/signout' class="") 로그아웃

